# Secrets
infra/terraform.tfvars
infra/*.pem
infra/polyglot-key
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform.lock.hcl

# Environment
.env
*.key

# Node
frontend-js/src/node_modules/
frontend-js/src/build/

# Python
__pycache__/
*.pyc

# .NET
backend-dotnet/src/bin/
backend-dotnet/src/obj/